#Yiannis-photo {
    border-radius: 50%;
}

/* .skill-container {
    height: 100vh;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

.skill {
    height: 400px
    display: flex;
    justify-content: right;
    padding: 25px;
    border: solid lightgray 1px;
    border-radius: 5px;
}  

.my-skills {
    justify-content: center;

} */